@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("./media/flag_of_Lithuania.svg");

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 20px 0px 10px 0px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 20px 0px 10px 0px;
}

p,
span,
ul,
#credits a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

strong {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

img {
  width: 100%;
  display: block;
}

a {
  color: rebeccapurple;
}

.bold-link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 24px;
}

.row {
  margin: 30px auto;
}

#content {
  width: 100%;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  text-align: center;
}

header img {
  display: inline;
  max-width: 140px;
}

header hr {
  max-width: 700px;
  margin: 30px auto 20px auto;
}

#navigation {
  margin-bottom: 0px;
}

#navigation .col-md-4 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#navigation .col-md-4:first-of-type {
  margin-left: auto;
  border-right: 1px solid black;
}

#navigation .dropdown:not(:last-child) {
  border-right: 1px solid black;
}

#navigation .col-md-4:last-of-type {
  margin-right: auto;
  border-left: 1px solid black;
}

#navigation .navigation_link {
  text-align: center;
  padding: 6px 20px;
  border-radius: 30px;
  transition: all 0.5s;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 24px;
}

#navigation .dropdown-toggle {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: all 0.5s;
  border-radius: 30px;
  padding: 6px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  border-radius: 30px;
}

#navigation .dropdown-toggle:hover {
  color: black;
  background-color: #e1e2dd;
  transition: all 0.5s;
}

.dropdown-menu {
  border-radius: 15px !important;
}

.dropdown-item,
.dropdown-menu,
.btn {
  color: black;
}

.dropdown-item > .eng-flag {
  margin: -2px 0px;
}

.dropdown-item {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 24px;
}

#navigation .navigation_link:hover {
  color: black;
  background-color: #e1e2dd;
  transition: all 0.5s;
}

#navigation .navigation_link:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

#navigation .active {
  border: 1px solid #9d9e9a;
}

.home-page-image {
  margin: 0px auto;
  max-width: 1300px;
}

.brief {
  margin: 20px auto;
  padding: 0px 20px;
  max-width: 700px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.brief p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

.description {
  padding: 0px 80px;
  max-width: 1400px;
  margin: 0 auto;
}

.description div[class*="col"] {
  padding: 30px;
}

.description p {
  text-align: justify;
}

.description .col-md-12 h2 {
  text-align: center;
}

.image-description {
  width: 80%;
  margin: 0px auto;
  font-size: 18px;
  display: block;
  text-align: center;
}

.dark-background {
  background-color: #e1e2dd;
  max-width: 100%;
  width: 100%;
}

#toolkit {
  margin: 40px auto;
  max-width: 1000px;
}

#toolkit .link-button {
  display: block;
  min-width: 200px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 20px auto;
  padding: 15px 25px;
  background-color: #e1e2dd;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 22px;
}

#toolkit img {
  max-width: 100%;
  width: co;
  -o-object-fit: contain;
  object-fit: contain;
  max-height: 500px;
}

.horizontal-wrapper {
  display: block;
  margin: auto;
  text-align: center;
}

#references p,
#references h4 {
  font-size: 12px;
}

#references .col-md-12 p {
  margin-bottom: 10px;
  padding-top: 0px !important;
  max-width: 600px !important;
}

#references .col-md-12 {
  margin: 0px auto;
  padding: 0px 30px;
  max-width: 1240px;
}

#references hr {
  border: 1px solid black;
  max-width: 300px;
}

#footnote {
  padding: 30px;
  margin-bottom: 0px;
}

#footnote img {
  height: 80px;
  padding: 10px;
  width: auto;
}

#footnote .big-logo {
  height: auto;
  width: 100%;
  padding: 0;
}

#footnote .footnote-img {
  max-width: 600px;
  margin: auto;
  height: auto;
}

#footnote-second {
  padding: 30px;
}

#footnote-second img {
  height: 100px;
  padding: 10px;
  width: auto;
}

#footnote .small-text p,
#footnote .small-text li {
  font-size: smaller;
}

.inline-img {
  display: inline-block !important;
  height: 60px !important;
  margin-left: 15px;
}

.border-left {
  padding-left: 15px !important;
  border-left: 1px solid black;
}

h2[class*="counter"] {
  padding-left: 10px;
}

h2[class*="counter"]::before {
  position: absolute;
  font-size: 38px;
  border-right: 1px solid black;
  padding-right: 10px;
  content: "*";
  transform: translateX(calc(-100% - 10px));
}

.counter-1::before {
  content: "1" !important;
}
.counter-2::before {
  content: "2" !important;
}
.counter-2-1::before {
  content: "2.1" !important;
}
.counter-2-2::before {
  content: "2.2" !important;
}
.counter-3::before {
  content: "3" !important;
}

.description--reverse {
  flex-direction: row-reverse;
}

.video-container {
  text-align: center;
  margin: 50px 0;
}
.video-container iframe {
  width: 900px;
  height: 500px;
}

#pilot-video h2 {
  display: block;
  margin: 0px auto 30px auto;
  text-align: center;
}

#pilot-video .col {
  max-width: 1100px;
  margin: auto;
  border-bottom: 1px solid black;
  padding: 50px;
}

#pilot-video video {
  max-width: 1000px;
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

#pilot__brief .col-md-12 {
  padding-top: 0px;
}

.ltu-flag {
  background-image: url("./media/ltu_flag.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 18px;
  display: inline-block;
}

.eng-flag {
  background-image: url("./media/en_flag.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 18px;
  display: inline-block;
  margin-top: 1px;
}

.event-number {
  width: 35px;
  display: inline-block;
}

@media only screen and (max-width: 1024px) {
  .video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
  }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 50px;
    max-width: 1000px;
  }
}

@media only screen and (max-width: 576px) {
  #navigation .col-md-4 {
    width: 100%;
    border: none !important;
    margin: 20px auto;
    padding-bottom: none;
  }

  .brief,
  .brief p {
    margin-bottom: 0px;
  }

  .description {
    padding: 0px 20px;
  }

  #toolkit {
    padding: 0px 20px;
  }

  #toolkit h1 {
    text-align: center;
  }

  .description--reverse {
    flex-direction: row;
  }

  .row {
    margin: 0px auto;
  }

  .event .col-md-4 {
    border: none;
  }

  #references {
    margin-bottom: 30px;
  }

  #pilot-video .col {
    padding: 30px 10px;
  }
}
